{%extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text-center">Usuário logado!</h1>
    {% else %}
        <div class="row justify-content-center">
            <h1 class="text-center">Cadastro de cliente</h1>
            <hr>
            <div class="col-md-8">
                <form method="POST" action="{% url 'home' %}">{% csrf_token %}

                    <div class="row justify-content-center">
                        <div style="max-width: 16rem;" class="form-group col">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">CNPJ</span>
                                <input type="text" id="cnpj" name="cnpj" class="form-control" required pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" placeholder="00.000.000/0000-00" minlength="18">
                            </div>
                        </div>
                        <div style="max-width: 16rem;" class="form-group col">
                            <div class="input-group flex-nowrap">  
                                <span class="input-group-text" id="addon-wrapping">CEP</span>                              
                                <input type="text" id="cep" name="cep" class="form-control" required pattern="\d{5}-\d{3}" placeholder="00000-000">
                            </div>
                            
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="form-group col-md-6">
                            <label for="razao_social" class="form-label mb-1">Razão social:</label>
                            <input type="text" id="razao_social" name="razao_social" class="form-control" required required minlength="3" maxlength="100">
                        </div>
                        <div class="form-group col-md-6"> 
                            <label for="nome_fantasia" class="form-label mb-1">Nome fantasia:</label>
                            <input type="text" id="nome_fantasia" name="nome_fantasia" class="form-control" required minlength="3" maxlength="100">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-md-6">
                            <label for="ins_estatual" class="form-label mb-1">inscrição estadual:</label>
                            <input type="text" id="ins_estatual" name="ins_estatual" class="form-control" required pattern="[0-9]{1,30}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ins_municipal" class="form-label mb-1">inscrição municipal:</label>
                            <input type="text" id="ins_municipal" name="ins_municipal" class="form-control" required pattern="[0-9]{5,15}">
                        </div>
                    </div>

                    <h2>Endereço</h2>

                    <div class="row mb-2">
                        <div class="form-group col md-2">
                            <label for="logradouro" class="form-label mb-1">Logradoro:</label>
                            <input type="text" id="logradouro" name="logradouro" class="form-control" required minlength="5" maxlength="150">
                        </div>
                    </div>
                    
                    <div class="row mb-2">
                        <div class="form-group col-md-6">
                            <label for="bairro" class="form-label mb-1">Bairro:</label>
                            <input type="text" id="bairro" name="bairro" class="form-control" required required minlength="3" maxlength="50">
                        </div>
                         <div class="form-group col-md-6">
                            <label for="municipio" class="form-label mb-1">Município:</label>
                            <input type="text" id="municipio" name="municipio" class="form-control" required minlength="3" maxlength="50">
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="form-group col-md">
                            <label for="complemento" class="form-label mb-1">Complemento:</label>
                            <input type="text" id="complemento" name="complemento" class="form-control" maxlength="80">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="uf" class="form-label mb-1">UF:</label>
                            <input type="text" id="uf" name="uf" class="form-control" required maxlength="2" minlength="2" pattern="[A-Za-z]{2}">
                        </div>
                    </div>

                    <h2>Contato</h2>

                    <div class="row mb-2">
                        <div class="form-group col-md-6">
                            <label for="num_tell" class="form-label mb-1">Telefone:</label>
                            <input type="text" id="num_tell" name="num_tell" class="form-control" pattern="\(\d{2}\)\s\d{4,5}-\d{4}" placeholder="(11) 4444-4444">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="num_cel" class="form-label mb-1">Celular:</label>
                            <input type="text" id="num_cel" name="Celular" class="form-control" pattern="\(\d{2}\)\s9\d{5}-\d{4}" placeholder="(11) 98888-8888">
                        </div>
                        <div class="form-group col align-self-center" >
                            <br>
                            <input type="checkbox" id="whatsapp" name="whatsapp" class="form-check-input" value="True">
                            <label for="whatsapp" class="form-check-label ">Whatsapp?</label>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="form-group md-6">
                            <label for="email" class="form-label mb-1">E-mail:</label>
                            <input type="email" id="email" name="email" class="form-control" >
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="form-group md-6">
                            <label for="url" class="form-label mb-1">URL:</label>
                            <input type="text" id="url" name="url" class="form-control" placeholder="https://www.exemplo.com.br">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group md-6">
                            <button class="btn btn-secondary form-control" type="submit">Cadastrar</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        
    {% endif %}
{% endblock %}
{% block scripts %}
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const razaoSocialInput = document.getElementById('razao_social');
            const nomeFantasiaInput = document.getElementById('nome_fantasia');
            const complementoInput = document.getElementById('complemento');
            const logradouroInput = document.getElementById('logradouro');
            const bairroInput = document.getElementById('bairro')
            const municipioInput = document.getElementById('municipio');
            const emailInput = document.getElementById('email');
            const urlInput = document.getElementById('url')
            const cnpjInput = document.getElementById('cnpj');
            const cepInput = document.getElementById('cep');
            const ufInput = document.getElementById('uf');
            const telInput = document.getElementById('num_tell');
            const celInput = document.getElementById('num_cel');
            const whatsappCheck = document.getElementById('whatsapp');
            const insEstatualInput = document.getElementById('ins_estatual');
            const insMunicipalInput = document.getElementById('ins_municipal');
            Campos_genericos = [razaoSocialInput, nomeFantasiaInput, complementoInput, logradouroInput, bairroInput, municipioInput, emailInput, urlInput]

            function basicValition(valor) {
                let value = valor.trim()
                value = value.replace(/\s{2,}/g, ' ');  
                return value
            }

            function cnpjMask(cnpj) {
                let value =  cnpj.replace(/\D/g, '');
                value = value.replace(/^(\d{2})(\d)/, '$1.$2');
                value = value.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
                value = value.replace(/\.(\d{3})(\d)/, '.$1/$2');
                value = value.replace(/(\d{4})(\d)/, '$1-$2');
                return value.slice(0, 18);
            }

            function cepMask(cep) {
                let value = cep.replace(/\D/g, '');
                value = value.replace(/^(\d{5})(\d)/, '$1-$2')
                return value.slice(0, 9);
            }
            
            function phoneMask (phone) {
                let value = phone.replace(/\D/g, '');
                value = value.replace(/^(\d{2})(\d)/g, '($1) $2');
                value = value.replace(/(\d{5})(\d)/, '$1-$2');
                return value.slice(0, 15);
            };
            
            function ufMask (uf) {
                let value = uf.replace(/[^a-zA-Z]/g, ''); 
                return value.toUpperCase().slice(0, 2); 
            } 

            for (const campo of Campos_genericos) {
                if (campo){
                    campo.addEventListener('blur', function(e){
                        e.target.value = basicValition(e.target.value)
                    })
                }
            }
            
            if (cnpjInput) {
                cnpjInput.addEventListener('input', function(e){
                    e.target.value = cnpjMask(e.target.value)
                });    
            }    
            
            if (cepInput){
                cepInput.addEventListener('input', function(e){
                    e.target.value = cepMask(e.target.value)
                });
            }

            if (telInput) {
                telInput.addEventListener('input', function(e) {
                    e.target.value = phoneMask(e.target.value)
                });
            }    

            if (celInput) {
                celInput.addEventListener('input', function(e) {
                    e.target.value = phoneMask(e.target.value)
                });
            }

            if (ufInput) {
                ufInput.addEventListener('input', function(e) {
                    e.target.value = ufMask(e.target.value)    
                });
            }

            if (whatsappCheck) {
                whatsappCheck.addEventListener('change', function() {
                    if (this.checked) {
                        celInput.setAttribute('required', 'required');
                    } 
                    else {celInput.removeAttribute('required');}
                });
            }

            if (insEstatualInput) {
                insEstatualInput.addEventListener('input', function(e) {
                    let value = e.target.value.replace(/\D/g, '');
                    e.target.value = value.slice(0, 30);
                });
            }

            if (insMunicipalInput) {
                insMunicipalInput.addEventListener('input', function(e) {
                    let value = e.target.value.replace(/\D/g, '');
                    e.target.value = value.slice(0, 30);
                });
            }

            if (cnpjInput) {
                cnpjInput.addEventListener('blur', function(e) {
                    const cnpj = event.target.value.replace(/\D/g, '');
                    if (cnpj.length !== 14) {
                        console.log('CNPJ inválido.');
                        return;
                    }

                    const url = `https://brasilapi.com.br/api/cnpj/v1/${cnpj}`;

                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erro ao consultar o CNPJ. Verifique se ele é válido.');
                            }
                            return response.json();
                        })

                        .then(data => {
                            razaoSocialInput.value = data.razao_social;
                            nomeFantasiaInput.value = data.nome_fantasia;
                            logradouroInput.value = data.logradouro
                            bairroInput.value = data.bairro
                            municipioInput.value = data.municipio
                            
                            if (data.complemento) {
                                complementoInput.value = data.complemento
                            }
                            if (data.cep) {
                                cepInput.value = data.cep;
                                cepInput.value = cepMask(cepInput.value)
                            }
                            if (data.uf) {
                                ufInput.value = data.uf
                                ufInput.value = ufMask(ufInput.value)
                            }

                            if (data.ddd_telefone_1) {
                                telInput.value = data.ddd_telefone_1
                                telInput.value = phoneMask(telInput.value)
                            }

                            if (data.email) {
                                emailInput.value = data.email
                            }

                            for (campo of Campos_genericos){
                                campa.value = basicValition(campo)
                            }
                        })     
                })
            }
        });

        if (cepInput) {
            cepInput.addEventListener('blur', function(e) {
                const cep = event.target.value.replace(/\D/g, '');
                if (cep.length !== 8) {
                    console.log('CEP inválido.');
                    return;
                }

                const url = `https://brasilapi.com.br/cep/v2/${cep}`;

                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao consultar o CEP. Verifique se ele é válido.');
                        }
                        return response.json();
                    })

                    .then(data => {
                        logradouroInput.value = data.street
                        bairroInput.value = data.neighborhood
                        municipioInput.value = data.city
                        
                        if (data.state) {
                            ufInput.value = data.state
                            ufInput.value = ufMask(ufInput.value)
                        }
                    })
            })
        }

    </script>
    

{% endblock %}/